$primary-color: #fb7185;
$--color-primary: #fb7185;

:root {
    --white: #fff;
    --black: #000;
    --background-base: #fff;
    --grey-100: #fafafa;
    --grey-200: #f4f5f5;
    --grey-300: #eff0f0;
    --grey-400: #e7e9e8;
    --grey-500: #d8dad9;
    --grey-600: #bec0bf;
    --grey-700: #8a8f8d;
    --grey-800: #585a5a;
    --grey-900: #262626;
    --grey-1: #fafafa;
    --grey-2: #f4f5f5;
    --grey-3: #eff0f0;
    --grey-4: #e7e9e8;
    --grey-5: #d8dad9;
    --grey-6: #bec0bf;
    --grey-7: #8a8f8d;
    --grey-8: #585a5a;
    --grey-9: #262626;
    --pea-green-50: #f3fbe7;
    --pea-green-100: #e8f7cf;
    --pea-green-200: #dbf1b7;
    --pea-green-300: #c1e77e;
    --pea-green-400: #a7dd4b;
    --pea-green-500: #8ccf17;
    --pea-green-600: #74b602;
    --pea-green-700: #5c8d07;
    --pea-green-800: #406105;
    --pea-green-900: #2a4200;
    --pea-green-1: #e8f7cf;
    --pea-green-2: #dbf1b7;
    --pea-green-3: #c1e77e;
    --pea-green-4: #a7dd4b;
    --pea-green-5: #8ccf17;
    --pea-green-6: #74b602;
    --pea-green-7: #5c8d07;
    --pea-green-8: #406105;
    --pea-green-9: #2a4200;
    --green-50: #ecfaf4;
    --green-100: #daf6ea;
    --green-200: #c7f0df;
    --green-300: #82edc0;
    --green-400: #45de9d;
    --green-500: #0bd07d;
    --green-600: #00b96b;
    --green-700: #009456;
    --green-800: #00663b;
    --green-900: #003d23;
    --green-1: #daf6ea;
    --green-2: #c7f0df;
    --green-3: #82edc0;
    --green-4: #45de9d;
    --green-5: #0bd07d;
    --green-6: #00b96b;
    --green-7: #009456;
    --green-8: #00663b;
    --green-9: #003d23;
    --cyan-50: #e6f9fb;
    --cyan-100: #cef5f7;
    --cyan-200: #b5eff2;
    --cyan-300: #81dfe4;
    --cyan-400: #5ed3d9;
    --cyan-500: #1dc0c9;
    --cyan-600: #01b2bc;
    --cyan-700: #078b92;
    --cyan-800: #07787e;
    --cyan-900: #004347;
    --cyan-1: #cef5f7;
    --cyan-2: #b5eff2;
    --cyan-3: #81dfe4;
    --cyan-4: #5ed3d9;
    --cyan-5: #1dc0c9;
    --cyan-6: #01b2bc;
    --cyan-7: #078b92;
    --cyan-8: #07787e;
    --cyan-9: #004347;
    --blue-50: #ecf4fd;
    --blue-100: #d9eafc;
    --blue-200: #c0ddfc;
    --blue-300: #81bbf8;
    --blue-400: #5fa8f6;
    --blue-500: #2f8ef4;
    --blue-600: #117cee;
    --blue-700: #0c68ca;
    --blue-800: #074a92;
    --blue-900: #00346b;
    --blue-1: #d9eafc;
    --blue-2: #c0ddfc;
    --blue-3: #81bbf8;
    --blue-4: #5fa8f6;
    --blue-5: #2f8ef4;
    --blue-6: #117cee;
    --blue-7: #0c68ca;
    --blue-8: #074a92;
    --blue-9: #00346b;
    --sea-blue-50: #eceefd;
    --sea-blue-100: #d9dffc;
    --sea-blue-200: #c0cafc;
    --sea-blue-300: #96a7fd;
    --sea-blue-400: #6e85f7;
    --sea-blue-500: #4861e0;
    --sea-blue-600: #2f4bda;
    --sea-blue-700: #213bc0;
    --sea-blue-800: #162883;
    --sea-blue-900: #101e60;
    --sea-blue-1: #d9dffc;
    --sea-blue-2: #c0cafc;
    --sea-blue-3: #96a7fd;
    --sea-blue-4: #6e85f7;
    --sea-blue-5: #4861e0;
    --sea-blue-6: #2f4bda;
    --sea-blue-7: #213bc0;
    --sea-blue-8: #162883;
    --sea-blue-9: #101e60;
    --purple-50: #f2edfc;
    --purple-100: #e6dcf9;
    --purple-200: #d9c9f8;
    --purple-300: #ba9bf2;
    --purple-400: #9a6eed;
    --purple-500: #7e45e8;
    --purple-600: #601bde;
    --purple-700: #4c16b1;
    --purple-800: #391084;
    --purple-900: #270070;
    --purple-1: #e6dcf9;
    --purple-2: #d9c9f8;
    --purple-3: #ba9bf2;
    --purple-4: #9a6eed;
    --purple-5: #7e45e8;
    --purple-6: #601bde;
    --purple-7: #4c16b1;
    --purple-8: #391084;
    --purple-9: #270070;
    --magenta-50: #fdeff7;
    --magenta-100: #fbdfef;
    --magenta-200: #f7c4e2;
    --magenta-300: #f297cc;
    --magenta-400: #ec6ab6;
    --magenta-500: #e746a4;
    --magenta-600: #d22d8d;
    --magenta-700: #ae146e;
    --magenta-800: #800f51;
    --magenta-900: #5c0036;
    --magenta-1: #fbdfef;
    --magenta-2: #f7c4e2;
    --magenta-3: #f297cc;
    --magenta-4: #ec6ab6;
    --magenta-5: #e746a4;
    --magenta-6: #d22d8d;
    --magenta-7: #ae146e;
    --magenta-8: #800f51;
    --magenta-9: #5c0036;
    --red-50: #fdf1f3;
    --red-100: #fbe4e7;
    --red-200: #f8ced3;
    --red-300: #f1a2ab;
    --red-400: #ea7583;
    --red-500: #e4495b;
    --red-600: #df2a3f;
    --red-700: #ad1a2b;
    --red-800: #8f0515;
    --red-900: #70000d;
    --red-1: #fbe4e7;
    --red-2: #f8ced3;
    --red-3: #f1a2ab;
    --red-4: #ea7583;
    --red-5: #e4495b;
    --red-6: #df2a3f;
    --red-7: #ad1a2b;
    --red-8: #8f0515;
    --red-9: #70000d;
    --vermilion-50: #fdf3f1;
    --vermilion-100: #fbe8e4;
    --vermilion-200: #f8d6ce;
    --vermilion-300: #f0ad9d;
    --vermilion-400: #eb866f;
    --vermilion-500: #e46549;
    --vermilion-600: #df4b2a;
    --vermilion-700: #ad351a;
    --vermilion-800: #8f1e05;
    --vermilion-900: #701500;
    --vermilion-1: #fbe8e4;
    --vermilion-2: #f8d6ce;
    --vermilion-3: #f0ad9d;
    --vermilion-4: #eb866f;
    --vermilion-5: #e46549;
    --vermilion-6: #df4b2a;
    --vermilion-7: #ad351a;
    --vermilion-8: #8f1e05;
    --vermilion-9: #701500;
    --orange-50: #fef2e9;
    --orange-100: #fde6d3;
    --orange-200: #f8d6b9;
    --orange-300: #f8b881;
    --orange-400: #f6a055;
    --orange-500: #f38f39;
    --orange-600: #ed740c;
    --orange-700: #c75c00;
    --orange-800: #944400;
    --orange-900: #663000;
    --orange-1: #fde6d3;
    --orange-2: #f8d6b9;
    --orange-3: #f8b881;
    --orange-4: #f6a055;
    --orange-5: #f38f39;
    --orange-6: #ed740c;
    --orange-7: #c75c00;
    --orange-8: #944400;
    --orange-9: #663000;
    --yellow-50: #fcf5e6;
    --yellow-100: #f9efcd;
    --yellow-200: #f6e1ac;
    --yellow-300: #f5d480;
    --yellow-400: #f5cb61;
    --yellow-500: #f3bb2f;
    --yellow-600: #ecaa04;
    --yellow-700: #c99103;
    --yellow-800: #8f6600;
    --yellow-900: #664900;
    --yellow-1: #f9efcd;
    --yellow-2: #f6e1ac;
    --yellow-3: #f5d480;
    --yellow-4: #f5cb61;
    --yellow-5: #f3bb2f;
    --yellow-6: #ecaa04;
    --yellow-7: #c99103;
    --yellow-8: #8f6600;
    --yellow-9: #664900;
    --bright-yellow-50: #fdf9e4;
    --bright-yellow-100: #fbf5cb;
    --bright-yellow-200: #fcf1a6;
    --bright-yellow-300: #fdeb78;
    --bright-yellow-400: #fce75a;
    --bright-yellow-500: #fbde28;
    --bright-yellow-600: #edce02;
    --bright-yellow-700: #cdb204;
    --bright-yellow-800: #a58f04;
    --bright-yellow-900: #665800;
    --bright-yellow-1: #fbf5cb;
    --bright-yellow-2: #fcf1a6;
    --bright-yellow-3: #fdeb78;
    --bright-yellow-4: #fce75a;
    --bright-yellow-5: #fbde28;
    --bright-yellow-6: #edce02;
    --bright-yellow-7: #cdb204;
    --bright-yellow-8: #a58f04;
    --bright-yellow-9: #665800;
    --brown-50: #f7f2ea;
    --brown-100: #f0e7d6;
    --brown-200: #e7d7bb;
    --brown-300: #dbc39a;
    --brown-400: #d2b684;
    --brown-500: #c59f5e;
    --brown-600: #b1873f;
    --brown-700: #927035;
    --brown-800: #74592a;
    --brown-900: #523f1e;
    --brown-1: #f0e7d6;
    --brown-2: #e7d7bb;
    --brown-3: #dbc39a;
    --brown-4: #d2b684;
    --brown-5: #c59f5e;
    --brown-6: #b1873f;
    --brown-7: #927035;
    --brown-8: #74592a;
    --brown-9: #523f1e;
    --theme: var(--yq-green-600);
    --normal: var(--yq-grey-500);
    --bg-primary: var(--yq-background-base);
    --bg-secondary: var(--yq-grey-100);
    --bg-tertiary: var(--yq-grey-200);
    --bg-primary-hover: var(--yq-grey-300);
    --bg-primary-hover-light: var(--yq-grey-400);
    --bg-foreground: var(--yq-white);
    --bg-pre-foreground: var(--yq-white);
    --bg-pre-secondary: var(--yq-grey-200);
    --bg-card-dialog: var(--yq-grey-100);
    --mask-bg: rgba(0,0,0,0.65);
    --toast-bg: rgba(0,0,0,0.65);
    --border-primary: var(--yq-grey-400);
    --border-primary-active: var(--yq-green-600);
    --border-light: rgba(0,0,0,0.04);
    --border-heavy: var(--yq-grey-300);
    --cardborder-hover: var(--yq-blue-300);
    --cardborder-selected: var(--yq-blue-500);
    --sheetborder: rgba(0,0,0,0.1);
    --text-primary: var(--yq-grey-900);
    --text-body: var(--yq-grey-800);
    --text-caption: var(--yq-grey-700);
    --text-disable: var(--yq-grey-600);
    --text-link: var(--yq-blue-600);
    --text-link-hover: var(--yq-blue-400);
    --icon-primary: var(--yq-grey-900);
    --icon-secondary: var(--yq-grey-800);
    --icon-caption: var(--yq-grey-700);
    --icon-disable: var(--yq-grey-600);
    --icon-hover: var(--yq-grey-500);
    --icon-colorbg: rgba(0,0,0,0.45);
    --function-success: var(--yq-green-600);
    --function-info: var(--yq-blue-600);
    --function-warning: var(--yq-yellow-600);
    --function-error: var(--yq-red-600);
    --badge: var(--yq-blue-500);
    --popover-bg: var(--yq-white);
    --disable-color: var(--yq-grey-600)
}
